* {
  margin: 0;
  padding: 0;
}
.grail {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
html, body {
  /* height 100% required to push down footer */
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 40);
  color: white;
  font-size: 16px;
}
header {
  grid-column: 1 / 4;
}
nav {
  grid-column: 1 / 2;
}
main {
  grid-column: 2 / 3;
}
aside {
  grid-column: 3 / 4;
}
footer {
  grid-column: 1 / 4;
}
ul {
  list-style-position: outside;
  list-style-type: none;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
a {
  color: gold;
}
